{% extends "layout.html" %} {% block body %}
<!-- Page Header -->
<!-- <header class="masthead" style="background-image: url('img/home-bg.jpg')"> -->
<header
  class="masthead"
  style="background-image: url('{{ url_for('static',filename='img/home-bg.jpg')}}')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>ADMIN PANEL</h1>
          <span class="subheading"
            >MAnage your post and change them</span
          >
        </div>
      </div>
    </div>
  </div>
</header>

<a href="/dashboard">
    <button class="btn btn-primary float-center">Dashboard Home</button>
  </a>
  <a href="/logout">
    <button class="btn btn-primary float-center">Logout</button>
  </a>


<h1>Add or Edit Post</h1>

<div class="col-lg-8 col-md-10 mx-auto">
<form name="sentMessage" id="editForm" action=/edit/{{sno}}  method="post" novalidate>
    
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>Title</label>
        <input
          type="text"
          class="form-control"
          placeholder="Title"
          id="title"
          name="title"
          value={{post.title}}
          required
          data-validation-required-message="Please enter your name."
        />
        <p class="help-block text-danger"></p>
      </div>



    </div>
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>Tagline</label>
        <input
          type="text"
          class="form-control"
          placeholder="Tagline"
          id="tline"
          name="tline"
          value={{post.tagline}}
          required
          data-validation-required-message="Please enter your email address."
        />
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>slug</label>
        <input
          type="text"
          class="form-control"
          placeholder="Slug"
          id="slug"
          name="slug"
          value={{post.slug}}
          required
          data-validation-required-message="Please enter your phone number."
        />
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>content</label>
        <textarea
          rows="5"
          class="form-control"
          placeholder="Content"
          id="content"
          name="content"
          required
          data-validation-required-message="Please enter a message." 
        >{{post.content}}
        </textarea>
        <p class="help-block text-danger"></p>
      </div>
    </div>



    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Image File</label>
          <!-- changed textarea tag to input tag -->
          <input
            rows="5"
            class="form-control"
            placeholder="Image File"
            id="img_file"
            name="img_file"
            value={{post.img_file}}
          >
          <p class="help-block text-danger"></p>
        </div>
      </div>

    <br />
    <div id="success"></div>
    <button type="submit" class="btn btn-primary" id="sendMessageButton">
      Submit
    </button>
  </form>


      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
</div>
{% endblock %}

